.container {
  position:absolute;
  width: 80%;
  height: 90%;
  float: auto;
  left: 25%;  
  right: 25%;
  top: 15%;
  width: 25%;
  z-index:-1;
  background-repeat: no-repeat;
  ;
}
.box {
  text-align: center;
  font-family: sans-serif;
  width: 70%;
  padding: 10px;
  border: solid rgb(15, 108, 115);
  border-radius: 25px;
  border-width: 10px;
  background-color: rgb(97, 153, 171);
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
ul {
  text-align: center;
  list-style-position: none;
}
.tag {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
h3 {
  color: rgb(241, 237, 231);
}
h1 {
  color:rgb(241, 237, 231);
}
body {
  background-color: rgb(245, 231, 212);
}