.container {
  position:absolute;
  width: 80%;
  height: 90%;
  z-index:-1;
  background-repeat: no-repeat;
  background-position: center;
}
  .box {
  text-align: center;
  font-family: sans-serif;
  width: 40%;
  padding: 10px;
  border: solid rgb(15, 108, 115);
  border-width: 10px;
  background-color: rgb(159, 173, 185);
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}
ul {
  text-align: center;
  list-style-position: inside;
}
.tag {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
body {
  background-image: img/portlandOR.jpeg;
  background-color:rgb(46, 60, 78);
}